.p {
    height: 100vh;
    display: flex;
    align-items: center;
}

.p-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.p-left-bg {
    clip-path: polygon(0 0, 25% 0, 0 100%, 0% 100%);
    background-color: white;
    width: 50%;
    height: 100%;
    position: absolute;
}

.p-left-bg2 {
    clip-path: polygon(25% 0, 99.5% 0, 75% 100%, 0 100%);
    background-color: red;
    width: 50%;
    height: 100%;
    position: absolute;
}

.p-left-bg3 {
    clip-path: polygon(99.4% 0, 100% 0, 100% 100%, 74.5% 100%);
    background-color: black;
    width: 50.0525%;
    height: 100%;
    position: absolute;
}

.p-left-wrapper {
    color: white;
    height: 50%;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
}

.p-title {
    color: white;
}

.p-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

.p-right-bg {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    background-color: black;
    width: 50%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.c4img {
    width: 200px;
    height: auto;
    position: relative;
    border-radius: 10%;
    border-width: 4px;
    border-color: white;
    border-style: solid;
    
}

.c4 {
    color: white;
}

.ptitles {
    text-decoration: underline;
}

.link {
    color: aqua;
}

.links {
    padding-left: 38px;
}

.htimg {
    height: auto;
    width: 500px;
    position: relative;
    border-radius: 4%;
    border-width: 4px;
    border-style: solid;
    border-color: white;
}

.geimg {
    height: auto;
    width: 500px;
    position: relative;
    border-radius: 4%;
    border-width: 4px;
    border-style: solid;
    border-color: white;
}