.i {
    display: flex;
    height: 100vh;
}

.i-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.i-right {
    flex: 1;
    overflow-x: hidden;
    overflow-y: hidden;
}

.i-left-wrapper {
    padding: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
}

.i-intro {
    font-size: 30px;
    font-weight: 300;
    color: white;
}

.i-name {
    font-size: 60px;
    color: white;
}

.i-title {
    height: 50px;
    overflow: hidden;
}

.i-desc {
    color: white;
}

.i-title-wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    33% {
        transform: translateY(-50px);
    }
    66% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(-150px);
    }
}

.i-title-item {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: red;
    display: flex;
    align-items: center;
}

.i-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 20px;
}

.i-bg {
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}